name: Build

# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches:
      # choose your default branch
      - master
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: "src"

      - name: Checkout builds
        uses: actions/checkout@v5
        with:
          ref: "builds"
          path: "builds"

      - name: Clean old builds
        run: |
          rm $GITHUB_WORKSPACE/builds/*.cs3 || true
          rm $GITHUB_WORKSPACE/builds/*.jar || true

      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.2

      - name: Generate local.properties
        run: |
          cd $GITHUB_WORKSPACE/src
          echo "sdk.dir=$ANDROID_SDK_ROOT" > local.properties
          echo "ANICHI_API=dummy" >> local.properties
          echo "ANICHI_SERVER=dummy" >> local.properties
          echo "ANICHI_ENDPOINT=dummy" >> local.properties
          echo "ANICHI_APP=dummy" >> local.properties
          echo "WASMAPI=dummy" >> local.properties
          echo "KAISVA=dummy" >> local.properties
          echo "SIMKL_API=dummy" >> local.properties
          echo "MAL_API=dummy" >> local.properties
          echo "MOVIEBOX_SECRET_KEY_ALT=dummy" >> local.properties
          echo "MOVIEBOX_SECRET_KEY_DEFAULT=dummy" >> local.properties
          echo "TMDB_API=dummy" >> local.properties
          echo "SUPERSTREAM_THIRD_API=dummy" >> local.properties
          echo "SUPERSTREAM_FOURTH_API=dummy" >> local.properties
          echo "SUPERSTREAM_FIRST_API=dummy" >> local.properties
          echo "CatflixAPI=dummy" >> local.properties
          echo "YFXENC=dummy" >> local.properties
          echo "YFXDEC=dummy" >> local.properties
          echo "KAIMEG=dummy" >> local.properties
      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make makePluginsJson
          ./gradlew ensureJarCompatibility
          cp **/build/*.cs3 $GITHUB_WORKSPACE/builds
          cp **/build/*.jar $GITHUB_WORKSPACE/builds
          cp build/plugins.json $GITHUB_WORKSPACE/builds

      - name: Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit --amend -m "Build $GITHUB_SHA" || exit 0   # do not error if nothing to commit
          git push --force
